*{
    box-sizing: border-box;
}
.box{
    color:white;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}
.box1{background: red;}
.box2{background: green;}
.box3{background: black;}
.box4{background: violet;}
.box5{background: brown;}
.box6{background: orangered;}
.box7{background: purple;}
.box8{background: yellow;}
.box9{background: blue;}
.box10{background: pink;}

.container{
    display: flex;
    /* border: 5px solid black;
    height: 100vh;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */ */

}

.box{
    flex: 1;
/* Flex 1 is use to fill the whole thing  */
}
.box3{
    order: 1;
}
.box1{
    order: 2;
}
.box2{
    order :3;  
    /* (order is use to chanhge the order of felx box element) */
}



